app：rem布局，100%布局，宽高自适应（一些是，一些不是，项目前没注意到这个问题）

app基本框架的建立（路由跳转框架） -- 纪传斌

首页 ---司徒建鸿
    已完成功能：
	1、首页轮播图动画播放
	2、首页数据加载商品信息
	3、首页商品列表的拖拽动画和点击跳转详情页
    未完成功能：
	1、首页搜索功能
	2、首页商品信息懒加载

分类页、列表页  ---纪传斌
    已完成功能：
	点击不同分类请求数据生成类别
   	点击类别传递id跳转详情页
    	基本的组件之间路由的跳转
    ps：数据库数据格式
	男装 id 1-51(17*3) 白、蓝、黑
    	女装 id 52-87 (12*3) 白、粉、红
    	男鞋 id 88-99 白、蓝、黑
    	女鞋 id 100-108 白、粉红
    	衣服尺码：S M L XL XXL
    	鞋子尺码：39-44（男）
	          35-39（女）
详情页 ---余鹏程
    已完成功能
	根据首页、列表页的商品点击跳转到详情页，并实现动态数据的生成
	实现未选择商品参数的loading提示
	未实现功能
	刷新后页面数据还存在
	ps: 解决了大部分github操作失败的问题

购物车 ---林洁盈
    实现功能：
   	实现商品的全选功能
   	实现商品的删除功能

登录、注册、我的 ---戴志远
    登录：
	---判断用户是否存在
   	---用户名保存传给mine
    注册：
	---随机验证码
    	---匹配手机格式
    	---用户名,密码存入数据库
    我的：
	---判断用户是否登录
    	---退出登录	

后台管理系统 -- 黄涌镇
    
    分为注册页： router:/，唯一登录名：hyz, 密码：123，
    首页： router:/home,三段身
    商品管理： router:/products
	功能：实现增删查改，分页效果
	查找功能的分页效果存在bug，还未完善，
    用户管理： router:/vueUsers
    	功能：实现查找，增加功能
	      修改跟删除还未完成
    过滤器功能：用token的localstorage保存到本地，实现存放已登录用户的用户名
		过滤器只应用在路由为products和vueUsers的路由上
    ps：后台管理系统功能实现的唯一标识是id而不是objectid，所以增加数据的时候不能添加相同id的商店，增删查改是通过id来实现的
nodejs端口 -- 黄涌镇
    所有数据的请求端口

数据库文件：位于./vue/src/backstage/common文件夹下面的json文件
ps：数据库文件并非json文件，是符合mongodb可视化工具robo 3t的文档类型
数据库：project5
表名：products商品信息表
      vueUsers：app用户注册登录表
      user:后台用户登录表
      carGoods：点击购买存入的id跟qty的表

最后的整合实现：
app页面由：林洁盈、司徒建鸿、戴志远、余鹏程、纪传斌负责
后台页面：黄涌镇负责
