.box{
    height:100%;
    display:flex;
    flex-direction:column;
}
.box>.home_cont{
    flex:1;overflow-x: hidden;
}
.box>.home_nav{
    height:85px;
    line-height:85px;
    text-align:center;
    background:#ccc;
}