*{margin: 0; padding: 0;}
.header{width: 100%; height: 80px; border: solid 1px #ccc;}
.body{ border:  solid 1px #ccc;overflow: hidden;}
.body>.nav{ height:10050px;width: 200px; border-right: solid 1px #ccc;float:left; }
.body>.container{ height:10050px;float:left;max-width:1050px;}